@page "/BillingManagement"
@using Microsoft.Extensions.Localization
@using global::Dkw.BillingManagement.Localization
@inject IStringLocalizer<BillingManagementResource> L
@{
}
<h1>BillingManagement</h1>
<p>@L["SamplePageMessage"]</p>