@page
@using Microsoft.Extensions.Localization
@using Dkw.BillingManagement.Localization
@using Dkw.BillingManagement.Web.Pages.BillingManagement
@model Dkw.BillingManagement.Web.Pages.BillingManagement.IndexModel
@inject IStringLocalizer<BillingManagementResource> L

@{
}
<h1>BillingManagement</h1>
<p>@L["SamplePageMessage"]</p>
